/* Styleshhets for Secret Agent Supply Project */

/* General Styles */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  color: white;
}

h2 {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

.site-width {
  width: 960px;
  margin: 0 auto;
  padding-left: 0.25rem;
}
/* Header Styles */

.title  {
  background-color: black
}

.title_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title_container img {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.title_container h2 {
  margin: 0.66rem 1rem;
}

.background-image {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
}

.background-image_container {
  display: flex;
  justify-content: flex-start;
}

.background-image_container_headline {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 9rem;
  width: 24rem;
}

.background-image_container_headline h1 {
  font-weight: bold;
  margin: 0.25rem 0rem 2rem 3rem;
}

.background-image_container_headline h2 {
  font-weight: bold;
  margin: 2rem 0rem 0.25rem 3rem;
}

/* Navigation Styles */

nav {
  background-color: firebrick;
}

nav span {
  display: inline-block;
  margin: 0.75rem 0;
}

nav a{
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

#width-smaller-1024px {
  display: none;
}

/* Main Styles */

.main-container {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
}

.main-container_item {
  width: 30%;
}

.main-container_item_img img {
  max-width: 8rem;
  margin: 2rem auto;
}

.main-container_item_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  height: 13rem;
}

.main-container_item h2 {
  padding: 0.5rem 0;
  text-align: center;
  background-color: black;
  width: 100%;
}

.location-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.location-container_item {
  width: 35%;
}

.location-container_item h2 {
  padding: 1rem 2rem;
  background-color: black;
}

.location-container_item p {
  color: grey;
}

/* Footer Styles */

footer {
  background-color: black;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
}

/* Media Query for Tablet Landscape */

@media only screen and (max-width: 1024px) {
  .site-width {
    width: auto;
    padding-left: 0;
  }

  /* Toggle view of NavBar */

  #navbar-width-smaller-1024px {
    display: block;
  }

  #navbar-width-greater-1024px {
    display: none;
  }

  /* Hide glasses */

  #glasses {
    display: none;
  }

  .main-container_item {
    width: 47%;
  }

  .navbar {
    justify-content: center;
  }
}

/* Media Query for Smartphone */

@media only screen and (max-width: 470px) {

  /* hide Watch */

  #watch {
    display: none;
  }

  /* Changes Headline */

  .background-image {
    height: 15rem;
  }

  .background-image_container_headline {
    margin-top: 10rem;
    width: 100%;
  }
  .background-image_container_headline h1 {
    font-size: 1rem;
    margin: 0.25rem 0rem 1rem 2rem;
  }

  .background-image_container_headline h2 {
    font-size: 0.77rem;
    margin: 1rem 0rem 0.25rem 2rem;
  }

  /* Changes Main */

  .main-container {
    justify-content: center;
    width: 100%;
  }

  .main-container_item {
    width: 90%;
  }

  /* Changes Location and Footer */

  .location-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%
  }

  .location-container_item {
    width: 90%;
  }

  .footer-container {
    align-items: center;
  }
}
